In [2]:
import pandas as pd

In [214]:
df = pd.read_csv('adult.data.csv')

In [4]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [10]:
df['race']

0        White
1        White
2        White
3        Black
4        Black
         ...
32556    White
32557    White
32558    White
32559    White
32560    White
Name: race, Length: 32561, dtype: object

In [11]:
df['race'].unique()

array(['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo',
       'Other'], dtype=object)

In [13]:
r= df['race'].value_counts()

In [17]:
df['sex'].value_counts()

sex
Male      21790
Female    10771
Name: count, dtype: int64

In [18]:
df['sex']

0          Male
1          Male
2          Male
3          Male
4        Female
          ...
32556    Female
32557      Male
32558    Female
32559      Male
32560    Female
Name: sex, Length: 32561, dtype: object

In [37]:
male_df = df[df['sex'] == 'Male']

In [38]:
male_df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K

In [39]:
male_df['sex'].unique()

array(['Male'], dtype=object)

In [264]:
male_df['age'].mean().round(1)

39.4

In [262]:
round(male_df['age'].mean(),1)

39.4

In [74]:
df[df['sex']=='Male' ]['age'].mean()

39.43354749885268

In [77]:
total_count=1

In [267]:
total_people = df.shape[0]  # Total number of people in the DataFrame
bachelors_count = df[df['education'] == "Bachelors"].shape[0]  # Number of people with a Bachelor's degree

# Calculate the percentage
percentage_bachelors = (bachelors_count / total_people) * 100
round(percentage_bachelors,1)

16.4

In [80]:
total_count=df.shape[0]

In [81]:
total_count

32561

In [83]:
df['education'].unique()

array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       'Assoc-acdm', 'Assoc-voc', '7th-8th', 'Doctorate', 'Prof-school',
       '5th-6th', '10th', '1st-4th', 'Preschool', '12th'], dtype=object)

In [97]:
higher_education_df = df[(df['education']=='Bachelors') | (df['education']=='Masters') | (df['education']=='Doctorate')]

In [105]:
higher_education_df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K

In [103]:
higher_education = (higher_education_df.shape[0] / total_people ) * 100
higher_education

23.006050182733944

In [104]:
lower_education_df = df[~((df['education']=='Bachelors') | (df['education']=='Masters') | (df['education']=='Doctorate'))]
lower_education = (lower_education_df.shape[0] / total_people ) * 100
lower_education

76.99394981726606

In [118]:
higher_education_rich_df = higher_education_df[higher_education_df['salary'] == '>50K']
higher_education_rich = (higher_education_rich_df.shape[0]/higher_education_df.shape[0]) * 100
higher_education_rich

46.535843011613935

In [119]:
lower_education_rich_df = lower_education_df[lower_education_df['salary'] == '>50K']
lower_education_rich = (lower_education_rich_df.shape[0]/lower_education_df.shape[0]) * 100
lower_education_rich

17.3713601914639

In [120]:
lower_education_rich_df['salary'].unique()

array(['>50K'], dtype=object)

In [123]:
min_work_hours = df['hours-per-week'].min()
min_work_hours

1

In [124]:
df['hours-per-week'].unique()

array([40, 13, 16, 45, 50, 80, 30, 35, 60, 20, 52, 44, 15, 25, 38, 43, 55,
       48, 58, 32, 70,  2, 22, 56, 41, 28, 36, 24, 46, 42, 12, 65,  1, 10,
       34, 75, 98, 33, 54,  8,  6, 64, 19, 18, 72,  5,  9, 47, 37, 21, 26,
       14,  4, 59,  7, 99, 53, 39, 62, 57, 78, 90, 66, 11, 49, 84,  3, 17,
       68, 27, 85, 31, 51, 77, 63, 23, 87, 88, 73, 89, 97, 94, 29, 96, 67,
       82, 86, 91, 81, 76, 92, 61, 74, 95])

In [134]:
num_min_workers_df = df[df['hours-per-week'] == min_work_hours]

In [135]:
type(num_min_workers_df)

pandas.core.frame.DataFrame

In [136]:
num_min_workers_df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
189,58,State-gov,109567,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,1,United-States,>50K
1036,66,Self-emp-inc,150726,9th,5,Married-civ-spouse,Exec-managerial,Husband,White,Male,1409,0,1,?,<=50K
1262,69,?,195779,Assoc-voc,11,Widowed,?,Not-in-family,White,Female,0,0,1,United-States,<=50K
5590,78,?,363134,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,0,1,United-States,<=50K
5632,45,?,189564,Masters,14,Married-civ-spouse,?,Wife,White,Female,0,0,1,United-States,<=50K

In [142]:
num_min_workers_df.shape[0]

20

In [138]:
rich_num_min_workers_df =num_min_workers_df[num_min_workers_df['salary'] == '>50K']

In [140]:
rich_percentage = (rich_num_min_workers_df.shape[0]/num_min_workers_df.shape[0]) * 100

In [141]:
rich_percentage

10.0

In [143]:
df['native-country'].unique()

array(['United-States', 'Cuba', 'Jamaica', 'India', '?', 'Mexico',
       'South', 'Puerto-Rico', 'Honduras', 'England', 'Canada', 'Germany',
       'Iran', 'Philippines', 'Italy', 'Poland', 'Columbia', 'Cambodia',
       'Thailand', 'Ecuador', 'Laos', 'Taiwan', 'Haiti', 'Portugal',
       'Dominican-Republic', 'El-Salvador', 'France', 'Guatemala',
       'China', 'Japan', 'Yugoslavia', 'Peru',
       'Outlying-US(Guam-USVI-etc)', 'Scotland', 'Trinadad&Tobago',
       'Greece', 'Nicaragua', 'Vietnam', 'Hong', 'Ireland', 'Hungary',
       'Holand-Netherlands'], dtype=object)

In [144]:
df['salary'].unique()

array(['<=50K', '>50K'], dtype=object)

In [157]:
income_condition = (df['salary'] == '>50K')

In [182]:
type(income_condition)

pandas.core.series.Series

In [185]:
numerator = df[income_condition]['native-country'].value_counts()

In [184]:
df['native-country'].value_counts()

native-country
United-States                 29170
Mexico                          643
?                               583
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
France                           29
Greece                           29
Ecuador                          28
Ireland                          24
Hong                             20
Cambodia                         19
Trinadad&Tobago                  19
Laos                             18
Thailand                         18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Honduras                         13
Hungary                          13
Scotland                         12
Holand-Netherlands                1
Name: count, dtype: int64

In [169]:
percentage_by_country = df[income_condition].groupby('native-country')['salary'].mean() * 100

TypeError: agg function failed [how->mean,dtype->object]

In [170]:
df['fnlwgt'].unique()

array([ 77516,  83311, 215646, ...,  34066,  84661, 257302])

In [172]:
df['fnlwgt'].value_count()

AttributeError: 'Series' object has no attribute 'value_count'

In [221]:
df['salary_bool'] = df['salary'].apply(lambda x: 1 if x == '>50K' else 0)

In [222]:
df['salary_bool'].unique()

array([0, 1])

In [223]:
df['salary'].unique()

array(['<=50K', '>50K'], dtype=object)

In [224]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary,salary_bool
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,0

In [210]:
df.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
salary            object
salary_bool        int64
dtype: object

In [225]:
# Calculate the percentage for each country
result_df = df.groupby('native-country')['salary_bool'].mean() * 100

# Get the country with the highest percentage
highest_percentage_country = result_df.idxmax()
highest_percentage_value = result_df.max()

In [226]:
result_df.head()

native-country
?           25.042882
Cambodia    36.842105
Canada      32.231405
China       26.666667
Columbia     3.389831
Name: salary_bool, dtype: float64

In [227]:
highest_percentage_country

'Iran'

In [228]:
highest_percentage_value

41.86046511627907

In [ ]:
SELECT occupation from 
(SELECT occupation,count(*) as cnt
FROM tbl
where native-country = 'india' AND salary = '>50K'
GROUP by occupation
order by cnt desc
LIMIT 1)

In [ ]:
SELECT
    Country,
    COUNT(CASE WHEN Salary >= 50 THEN 1 END) / COUNT(*) * 100 AS Percentage
FROM
    tbl
GROUP BY
    Country
ORDER BY
    Percentage DESC
LIMIT 1;

In [254]:
country_df = df[(df['native-country'] == 'India') & (df['salary'] == '>50K')]

In [258]:
top_IN_occupation = country_df['occupation'].value_counts().idxmax()
top_IN_occupation

'Prof-specialty'

In [248]:
country_df.head()

11       Prof-specialty
968     Exec-managerial
1327      Other-service
7258     Prof-specialty
7285     Prof-specialty
Name: occupation, dtype: object

In [249]:
country_df.unique()

array(['Prof-specialty', 'Exec-managerial', 'Other-service',
       'Tech-support', 'Transport-moving', 'Sales', 'Adm-clerical'],
      dtype=object)

In [252]:
country_df.

'Prof-specialty'